
useDynLib(GFM, .registration=TRUE)
importFrom(Rcpp, evalCpp)

export(gfm, chooseFacNumber, Factorm,
       measurefun, gendata)

importFrom(MASS, mvrnorm)
importFrom("stats", "binomial", "cancor", "cov", "dpois", "gaussian",
           "glm.fit", "poisson", "rbinom", "rnorm", "rpois", "runif",
           "var")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
# importFrom("foreach", "foreach")
importFrom(irlba, irlba)
import(doSNOW)
